<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367488650258-hc57p3ticp1k6p3ja9qmkpvc00cseu9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367488650258-hc57p3ticp1k6p3ja9qmkpvc00cseu9v</string>
	<key>API_KEY</key>
	<string>AIzaSyBVa9BUY3tB8MEFj9OaPU24iTbsKG0n1Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>367488650258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santosenoque.chatApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-ada5d</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-ada5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367488650258:ios:62f70e6736d9cde9</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-ada5d.firebaseio.com</string>
</dict>
</plist>